<h1>New Entry for <i><%=@project.name%></i></h1>
<h5><i><%=@project.description%></i></h5>

<% if @entry.errors.any? %>
	<lu>
	<% @entry.errors.full_messages.each do |message| %>
		<li><%=message %>
	</lu>
	<% end %>
<% end %>

<%= form_for [@project, @entry] do |f| %>
	<%= f.label :hours %>
	<%= f.text_field :hours %>
	<br>
	<%= f.label :minutes %>
	<%= f.text_field :minutes %>
	<br>
	<%= f.label :date %>
	<%= f.date_field :date %>
	<br>
	<%= f.submit 'Save' %>
<% end %>